<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IvonaAccessKey" value="GDNAJFNUOCV2RFUEDFHA"/>
    <add key="IvonaSecretKey" value="QaL6x5tVBkrJ/A/iYQqFMXfP9ZlvqvOrjB+Koezf"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
